:root {
  --aside-peak-width: 10%;
  /* --color-1: #7aa200; */
  --color-1-r: 122;
  --color-1-g: 162;
  --color-1-b: 0;
  /* --color-2: #b31cd8; */
  --color-2-r: 179;
  --color-2-g: 28;
  --color-2-b: 216;
  /* --color-3: #ffe43e; */
  --color-3-r: 255;
  --color-3-g: 228;
  --color-3-b: 62;
  /* --color-4: #0054cb; */
  --color-4-r: 0;
  --color-4-g: 84;
  --color-4-b: 203;
  /* --color-5: #a72d00; */
  --color-5-r: 167;
  --color-5-g: 45;
  --color-5-b: 0;
  /* --color-6: #65f7ff; */
  --color-6-r: 101;
  --color-6-g: 247;
  --color-6-b: 255;
  /* --color-7: #540068; */
  --color-7-r: 84;
  --color-7-g: 0;
  --color-7-b: 104;
  /* --color-8: #ffefaf; */
  --color-8-r: 255;
  --color-8-g: 239;
  --color-8-b: 175;
  /* --color-9: #1d003c; */
  --color-9-r: 29;
  --color-9-g: 0;
  --color-9-b: 60;
  /* --color-10: #ffcad0; */
  --color-10-r: 255;
  --color-10-g: 202;
  --color-10-b: 208;
  /* --color-11: #001615; */
  --color-11-r: 0;
  --color-11-g: 22;
  --color-11-b: 21;
  /* --color-12: #ff608d; */
  --color-12-r: 255;
  --color-12-g: 96;
  --color-12-b: 141;
  /* --color-13: #003e19; */
  --color-13-r: 0;
  --color-13-g: 62;
  --color-13-b: 25;
  /* --color-14: #018497; */
  --color-14-r: 1;
  --color-14-g: 132;
  --color-14-b: 151;
  /* --color-15: #5a4d00; */
  --color-15-r: 90;
  --color-15-g: 77;
  --color-15-b: 0;
}

html, body {
  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h1, .h1 {
  background: #444;
  color: #fcfcfc;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  padding: .5rem 1rem;
}

h2 {
  font-size: 1.25rem;
}
  h2 > a {
    color: #444;
    text-decoration-color: blue;
  }

h3 {
  font-size: 1rem;
}

.tr-transform {
  cursor: move;
}
.tr-transform:focus {
  outline: 2px solid blue;
  cursor: move;
}
  .tr-transform__content {
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 5px 5px 0px rgba(0, 0, 0, .2);
    z-index: 99;
  }
  .tr-transform:hover .tr-transform__content {
    background-color: rgba(255, 255, 200, .5);
    border-color: rgba(0, 0, 0, .5);
    box-shadow: 5px 5px 0px rgba(0, 0, 0, .5);
    z-index: 99;
  }

#app {
  color: #333;
  display: flex;
  flex-flow: column nowrap;

  height: 100%;
  width: 100%;
}

#app > * {
  flex: 1;
}

#app > header,
#app > footer {
  background: #fafafa;
  flex: 0 0 auto;
  justify-self: center;
  padding: 1rem;
}
#app > footer {
  z-index: 99999;
}

#app > header {
  display: flex;
}

#app > header nav ul {
  list-style: none;
  margin: 0;
}

#app > header nav li {
  display: inline;
  margin-right: .5rem;
}

#app > header nav li:not(:last-child):after {
  content: "▸";
  padding-left: .5rem;
}

#app > main {
  flex: 8;
  padding-right: var(--aside-peak-width);
}

#app > aside {
  background: #ff0;
  box-shadow: -8px 8px 0 rgba(0, 0, 0, .5);
  position: fixed;
  height: 100%;
  padding: 1rem;
  right: 0;
  top: 0;
  transform: translate3d(calc(100% - var(--aside-peak-width)), 0, 0);
  transition: transform ease-in .4s;
  width: 100%;
  z-index: 1000;
}
  #app > aside.active {
    transform: translateX(5%);
    transition: transform ease .3s;
  }


.panels-list {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

#hierarchy > .panels-list > li .panels-list {
  flex-flow: column nowrap;
  height: auto;
}
  .panels-list > li {
    flex: 1;
    padding: 1rem 1rem 0;
    transition: flex .3s ease-out;
  }

  #hierarchy > .panels-list > li:nth-child(1) {
    --opacity: 1;
    --color-r: var(--color-1-r);
    --color-g: var(--color-1-g);
    --color-b: var(--color-1-b);
  }
  #hierarchy > .panels-list > li:nth-child(2) {
    --opacity: 1;
    --color-r: var(--color-2-r);
    --color-g: var(--color-2-g);
    --color-b: var(--color-2-b);
  }
  #hierarchy > .panels-list > li:nth-child(3) {
    --opacity: 1;
    --color-r: var(--color-3-r);
    --color-g: var(--color-3-g);
    --color-b: var(--color-3-b);
  }
  #hierarchy > .panels-list > li:nth-child(4) {
    --opacity: 1;
    --color-r: var(--color-4-r);
    --color-g: var(--color-4-g);
    --color-b: var(--color-4-b);
  }
  #hierarchy > .panels-list > li:nth-child(5) {
    --opacity: 1;
    --color-r: var(--color-5-r);
    --color-g: var(--color-5-g);
    --color-b: var(--color-5-b);
  }
  #hierarchy > .panels-list > li:nth-child(6) {
    --opacity: 1;
    --color-r: var(--color-6-r);
    --color-g: var(--color-6-g);
    --color-b: var(--color-6-b);
  }
  #hierarchy > .panels-list > li:nth-child(7) {
    --opacity: 1;
    --color-r: var(--color-7-r);
    --color-g: var(--color-7-g);
    --color-b: var(--color-7-b);
  }
  #hierarchy > .panels-list > li:nth-child(8) {
    --opacity: 1;
    --color-r: var(--color-8-r);
    --color-g: var(--color-8-g);
    --color-b: var(--color-8-b);
  }
  #hierarchy > .panels-list > li:nth-child(9) {
    --opacity: 1;
    --color-r: var(--color-9-r);
    --color-g: var(--color-9-g);
    --color-b: var(--color-9-b);
  }
  #hierarchy > .panels-list > li:nth-child(10) {
    --opacity: 1;
    --color-r: var(--color-10-r);
    --color-g: var(--color-10-g);
    --color-b: var(--color-10-b);
  }
  #hierarchy > .panels-list > li:nth-child(11) {
    --opacity: 1;
    --color-r: var(--color-11-r);
    --color-g: var(--color-11-g);
    --color-b: var(--color-11-b);
  }
  #hierarchy > .panels-list > li:nth-child(12) {
    --opacity: 1;
    --color-r: var(--color-12-r);
    --color-g: var(--color-12-g);
    --color-b: var(--color-12-b);
  }
  #hierarchy > .panels-list > li:nth-child(13) {
    --opacity: 1;
    --color-r: var(--color-13-r);
    --color-g: var(--color-13-g);
    --color-b: var(--color-13-b);
  }
  #hierarchy > .panels-list > li:nth-child(14) {
    --opacity: 1;
    --color-r: var(--color-14-r);
    --color-g: var(--color-14-g);
    --color-b: var(--color-14-b);
  }
  #hierarchy > .panels-list > li:nth-child(15) {
    --opacity: 1;
    --color-r: var(--color-15-r);
    --color-g: var(--color-15-g);
    --color-b: var(--color-15-b);
  }
  #hierarchy > .panels-list > li {
    background-color: rgba(var(--color-r), var(--color-g), var(--color-b), var(--opacity));
  }

  .panels-list .panels-list > li {
    background-color: rgba(var(--color-r), var(--color-g), var(--color-b), var(--opacity));
    border: 1px solid #000;
    margin-bottom: 1rem;
  }

  .panels-list.with-active-panel > .panel--active {
    flex: 10 0 auto;
  }

  .panels-list.with-active-panel > .panel:not(.panel--active) {
    flex: 0 0 2rem;
    position: relative;
  }
    .panels-list.with-active-panel > .panel:not(.panel--active) h1 {
      left: 0;
      top: 0;
      position: absolute;
      transform: rotate(90deg);
      transform-origin: 1em 1em;
      transition: transform ease .3s;
      white-space: nowrap;
    }

    .panels-list.with-active-panel > .panel:not(.panel--active) .panels-list,
    .panels-list.with-active-panel > .panel:not(.panel--active) .node-meta {
      display: none;
    }

.node-meta::empty {
  display: none;
}

.node-meta {
  margin-bottom: 1.5rem;
}

.panel-inner {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
}
  .panel-inner > * {
    flex: 0;
  }
  .panel-inner > .panel-inner-main {
    flex: 1 0 auto;
  }

.node-siblings {
  list-style: none;
  padding: 0;
}
  .node-siblings a {
    border-top: 1px solid rgba(0, 0, 0, .5);
    display: block;
    padding: 1rem;
  }

.items-list {
  list-style: none;
  padding: 0;
}
  .items-list > .item {
    background-color: rgba(var(--color-r), var(--color-g), var(--color-b), var(--opacity));
    border: 1px solid #444;
    display: inline-block;
    margin: 0 .25rem .25rem 0;
  }
  .items-list > .item a {
    display: block;
    height: 100%;
    padding: .5rem .25rem;
  }
.board-items {
  list-style: none;
  padding: 0;
}
  .board-items > li {
    border: 1px solid #333;
    position: absolute;
  }
