<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Maquette Selma A</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8">
    <link rel="stylesheet" href="app.css">
    <link rel="stylesheet" href="vue-free-transform.css">
    <script src="https://cdn.jsdelivr.net/npm/d3-hierarchy@1"></script>
    <script src="https://cdn.jsdelivr.net/npm/object-hash@1"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-free-transform@1/dist/FreeTransform.umd.js"></script>
    <script type="module" src="app.js"></script>
</head>
<body>

<div id="app" aria-live>
  <header>
    <a href="#!/">Selma ❤️</a>

    <nav v-if="activePath">
      <ul>
        <li v-for="item in activePathHierarchy">
          <a v-bind:href="'#!/corpus/' + item.data.path">{{ item.data.name }}</a>
        </li>
      </ul>
    </nav>
  </header>

  <hierarchy v-bind:root="root" v-bind:active-node="activePathNode" v-bind:path="activePath"></hierarchy>
  <board v-bind:board="boards[activeBoard]"
         v-bind:hierarchy="root"
         v-bind:class="{ active: activeBoardDisplayed }"></board>

  <footer>
    <select name="board" v-model.number="activeBoard">
      <option></option>
      <option v-for="(board,index) in boards" v-bind:value="index">{{ board.name }}</option>
    </select>
    <button type="button" @click="toggleBoard" v-bind:disabled="activeBoard === ''" v-if="!activeBoardDisplayed">Afficher la planche</button>
    <button type="button" @click="toggleBoard" v-else>Masquer la planche</button>

    <button type="button" disabled>Nouvelle planche</button>
  </footer>
</div>

</body>
</html>
