.tr-transform--active {
    position: absolute;
    z-index: 5;
}
.tr-transform__content {
    user-select: none;
}
.tr-transform__content .element{
    padding:5px;
}
/* .tr-transform__rotator {
    top: -45px;
    left: calc(50% - 7px);
} */
/* .tr-transform__rotator, */
.tr-transform:hover .tr-transform__scale-point {
    background: #fff;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 999;
}
.tr-transform__rotator:hover,
.tr-transform__scale-point:hover {
    background: #F1F5F8;
}
.tr-transform__rotator:active,
.tr-transform__scale-point:active {
    background: #DAE1E7;
}
.tr-transform__scale-point {
}
.tr-transform__scale-point--tl {
    top: -7px;
    left: -7px;
    cursor: nw-resize;
}
.tr-transform__scale-point--ml {
    top: calc(50% - 7px);
    left: -7px;
    cursor: w-resize;
}
.tr-transform__scale-point--tr {
    left: calc(100% - 7px);
    top: -7px;
    cursor: ne-resize;
}
.tr-transform__scale-point--tm {
    left: calc(50% - 7px);
    top: -7px;
    cursor: n-resize;
}
.tr-transform__scale-point--mr {
    left: calc(100% - 7px);
    top: calc(50% - 7px);
    cursor: e-resize;
}
.tr-transform__scale-point--bl {
    left: -7px;
    top: calc(100% - 7px);
    cursor: sw-resize;
}
.tr-transform__scale-point--bm {
    left: calc(50% - 7px);
    top: calc(100% - 7px);
    cursor: s-resize;
}
.tr-transform__scale-point--br {
    left: calc(100% - 7px);
    top: calc(100% - 7px);
    cursor: se-resize;
}
